<div class="container">
    <div class="col-sm-6">
        <img src="/images/cat.jpg" alt="Error cat">
    </div>
    <div class="col-sm-6">
        <h1>申し訳ございませんエラーが発生しました</h1>
        <p> こちらからお戻りください
            <a href="/">ホームへ</a>
        </p>
    </div>
</div>